*{
    background-color:  #D8B89D;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    max-width: 1000px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #A67B5B;
    width: 100%;
    align-items: center;
    height: 200px;  
    border: 5px solid #A67B5B;  
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    padding: 25px;
}
header nav a{
    color:black ;
    border: 2px solid black;
    padding: 15px;
    background-color: #A67B5B;    
}
.header{
    position: relative;
}
.header img{
    width: 80%;
    margin: 25px;
    
}
.header p{
    position: absolute;
    top: 80%;
    font-size: large;
    padding: 15px;
    opacity: 0.9;
    text-align: center;
}
.main{
    display: flex;
}
h1,h2{
    text-align: center;
    padding: 15px;
}
.images{
    display: flex;
}
.images figcaption{
    color: black;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    border:3px solid #A67B5B;
    padding: 10px;
    margin: 7px;
}
footer {
 background-color: #A67B5B;
 display: flex;
 align-items: center;
 row-gap: 40px;
 flex-direction: column;
}

footer nav{
    display: flex;
    
}
footer nav a{
    justify-content: space-between;
    background-color: #A67B5B;
    padding: 25px;
    color:  black;
    font-weight: bold;
}
footer form{
    color: black;
    font-weight: bold;
    width: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form input{
    padding: 15px;
    border: 2px solid black;
}
input[type="submit"]{
    font-weight: bold;
    background-color: #A67B5B;
    font-size: large;
}
footer p{
    color: black;
    font-weight: bold;
    font-size: larger;
    background-color: #A67B5B;
}
input[type="text"]{
    font-size: large;
    font-weight: bold;
}